img {
    width: 500px;
    height: 350px;
    padding: 20px;
}
div {
    background-color: rgba(252, 251, 251, 0.546);
    border: solid 2px;
    padding: 20px;
}
.workshop li:hover {
    background-color: rgba(0, 0, 0, 0.193);
    cursor: pointer;
    width: fit-content;
}

.workshop li:hover::after {
    padding: 0px 5px;
    content: 'ⓧ';
}