img {
    width: 600px;
    height: 400px;
    padding: 20px;
}
div {
    
    border: solid 2px;
    padding: 20px;
}
.workshop li:hover {
    background-color: rgba(0, 0, 0, 0.193);
    cursor: pointer;
    width: fit-content;
}

.workshop li:hover::after {
    padding: 0px 5px;
    content: 'ⓧ';
}