body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../assets/pexels-gdtography-911738.jpg);
}
main {
    display: flex;
    flex-direction: column;
    border: solid 4px;
    width: 500px;
    height: 500px;
    padding: 30px;
    align-items: center;
    background-color:rgba(76, 76, 76, 0.546);
    background-size: cover;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    
}
button {
    width: 150px;
    height: 25px;
    background-color: rgba(222, 184, 135, 0.596);
}
select {
    height: 30px;
    margin-bottom: 20px;
    
}
input {
    margin-bottom: 10px;
    height: 25px;
}